@font-face {
  font-family: "KorbRegular";
  src: url("/Resources/font/Korb.ttf");
}

:root {
  --color-main-darker: rgba(3, 79, 90, 1);
  --color-main-normal: rgba(0, 156, 180, 1);
  --color-text-grey: rgba(144, 164, 174, 1);
  --color-text-white: white;
  --content-width: 1100px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "KorbRegular";
}

a {
  text-decoration: none;
  color: var(--color-text-white);
}

header {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: min(var(--content-width), 100%);
  margin: 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 28px;
  width: auto;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1vw;
}

.usaFlag {
  height: 15px;
  width: 16px;
}

.navLinks>li>a {
  color: var(--color-main-normal);
  font-size: 1.2rem;
}

/*! -Section 1- */

.s1-Slider {
  width: 100vw;
  height: 396px;
  background: url(/Resources/slider1-developement.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  .s1-Slider {
    background: url(/Resources/slider1-developement-small.jpg) no-repeat center center;
  }
}

.sliderPic {
  width: 100%;
  height: auto;
}

.sliderTxt {
  width: min(var(--content-width), 100%);
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: start;

  color: var(--color-text-white);
}

.sliderHeadline {
  max-width: 580px;
  padding-bottom: 20px;

  font-size: 2.25rem;
}

.sliderPhrase {
  max-width: 580px;
  padding-bottom: 20px;
  margin-bottom: 22px;

  font-size: 1.25rem;
  line-height: 1.4em;
}

/* ! -Section 2- */

.s2-PageHeader {
  width: min(var(--content-width), 100vw);
  height: auto;
  margin: 0 auto;
  padding: 100px 20px;
}

.pageHeadline {
  font-size: 3.125rem;
  color: var(--color-text-grey);
}

/* ! -Section 3- */

.s3-NewsGrid {
  width: min(var(--content-width), 100vw);
  margin: 0 auto;
  padding: 0px 20px 100px 20px;

  display: grid;
  grid-template-areas:
    "news ticker"
    "news weekly"
  ;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 4rem;
}

.news,
.ticker,
.weekly {
  display: grid;
  column-gap: 0.8em;
  row-gap: 1em;
  grid-template-columns: 1fr 5fr;
}

/* Left side of the Grid "Nachrichten" */
.news {
  grid-area: news;
}

/* Top right side of the Grid "Neuigkeiten" */
.ticker {
  grid-area: ticker;
}

/* Bottom right side of the Grid "Weekly" */
.weekly {
  grid-area: weekly;
}

.s3-NewsGrid-Headline:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: var(--color-main-normal);
  min-width: 20px;
  margin: auto auto auto 20px;
}

/* h3, the Headline for the sub-grids */
.s3-NewsGrid-Headline {
  grid-column: span 2;

  font-size: 1.875rem;
  color: var(--color-main-normal);
}

/* img, The item picture */
.news-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.s3-Content {
  height: 60px;
}

/* h4, the headline inside of every Item in the sub-grids */
.s3-Content-HeadLine {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-main-normal);
  line-height: 1.1em;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.s3-Content-Phrase {
  color: var(--color-text-grey);
  font-size: 0.875rem;

  margin-top: 4px;
}