@font-face {
  font-family: 'KorbRegular';
  src: url('/Resources/font/Korb.ttf');
}

:root {
  --color-main-darker: rgba(3, 79,90, 1);
  --color-main-normal: rgba(0, 156, 180, 1);
  --color-text-grey: rgba(144, 153, 156, 1);
  --color-text-white: white;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'KorbRegular';
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  height: 300vh;
}

header {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  margin: 0px 20px;
  width: min(1100px, 100%);
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 5px;
  height: 28px;
  width: auto;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1vw;
}

.usaFlag {
  height: 15px;
  width: 16px;
}

.navLinks>li>a {
  color: var(--color-main-normal);
  font-size: 1.2rem;
}

.section1 {
  width: 100%;
  height: 396px;
  background-color: bisque;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider1Pic {
  width: 100%;
  height: auto;
  margin-top: 59px;
}

.slider1Text {
  width: min(1100px, 100%);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: var(--color-text-white);
}

.slider1Text>h2 {
  max-width: 580px;
  padding-bottom: 20px;
}

.slider1Text>p {
  max-width: 580px;
  padding-bottom: 20px;
  margin-bottom: 22px;
}